body{
    background-color: darkslategray;
}
div{
    margin-left: 200px;
    margin-top: 20px;
    background-color: aquamarine;
}

.ann1{
    margin-left: 200px;
    margin-top: 20px;
    background-color:bisque;
    border: 6px solid #7922CC;
    border-radius: 25px;
}
