
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/style/styles.css" rel="stylesheet" type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>
        Your Account
    </title>
    <meta charset = "utf-8">

    <script>
        $(document).ready(function (){
                $.get( "/data/announcements", function(data) {
                    alert(data[9].title)
                    $('#ann').empty()
                    $.each(data, function(k)  {
                        $("#ann").append("<div class='ann1'><h>Number: </h>"+data[k].phone_number+"</div><div class='ann1'>"+data[k].activity.name+"<div class='ann1'>"+data[k].email+"</div>");

                    });
                    console.log(data);
                });
        })
        function sendData() {
            let data = {
                "name": $('#name').val(),
            }
            $.ajax({
                url: '/data/show',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success : function(data) {
                    $('#brd').append("<div>"+ data.name +"</div>");
                },
            });
            console.log(data)
        }
        function regAsAuthor(){
            let data = {
                "status": "author",
            }
            $.ajax({
                url: '/author/signin',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/javascript; charset=utf-8",
                dataType: "json",
                success : function(data) {
                    $('#brd').append("<div>"+ data.name +"</div>");
                },
            });

        }
    </script>
</head>
<body background-color="blue">
<h>Welcome to account {{.Username}}</h><br>
<h>Your email is {{.Email}}</h><br>
<div class = "ann1" id="ann">
{{/*{{range .announcements}}*/}}
{{/*    <h>{{.title}}</h><br>*/}}
{{/*    <h>{{.email}}</h><br>*/}}
{{/*    <h>{{.phone_number}}</h><br>*/}}
{{/*{{end}}*/}}
</div>
    <div>

        <input type="text" id="name">
        <button onclick="sendData()">ShowData</button>
        <button onclick="regAsAuthor()">Reg As author</button>
    </div>

    <div id="brd">

    </div>
</body>
</html>
